---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About Me";

const identity = {
	firstName: "Bailey",
	country: "United States",
	occupation: "Software Engineer",
	hobbies: ["video games", "football", "exercising"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Express.js", "SQL"];

const happy = true;
const finished = false;
const goal = 3;

// CSS Variables
const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout pageTitle={pageTitle}>
	<p>I am learning astro with hopes to increase site performance</p>
	<h2>Facts about me</h2>
	<p>Here are some facts about me:</p>
	<ul>
		<li>My name is {identity.firstName}.</li>
		<li>
			I live in the {identity.country} and I work as a {
				identity.occupation
			}.
		</li>
		{
			identity.hobbies.length >= 2 && (
				<li>
					Two of my hobbies are: {identity.hobbies[0]} and{" "}
					{identity.hobbies[1]}.
				</li>
			)
		}
	</ul>
	<p>My skills are:</p>
	<ul>
		{skills.map((skill) => <li class="skill">{skill}</li>)}
	</ul>
	{happy && <p>I am happy to be learning Astro!</p>}

	{finished && <p>I finished this tutorial!</p>}

	{
		goal === 3 ? (
			<p>My goal is to finish in 3 days.</p>
		) : (
			<p>My goal is not 3 days.</p>
		)
	}
</BaseLayout>
